{% extends "base.html" %}

{% load static %}

{% block slider %}

    <!--imagen de Cabecera -->
    <div class="row slider">
        <div class="col">
            <img src="{% static "img/img.jpg" %}" class="w-100" alt="Responsive image">
        </div>
    </div>

{% endblock slider %}

{% block content %}

<!--Contenido-->
<main>
    <!--Acerca de - contenido -->
    <div class="container">
        <div class="row contenedor">
            <div class="col">
                <h2 class="titulo">Acerca de las películas de Ghibli</h2>
                <div class="row projects justify-content-center">
                    <div class="col-12 col-lg-3 col-md-3">
                        <img src="{% static "img/immg.jpg" %}" class="rounded-circle w-100" alt="...">
                        <hr>
                        <p class="text-center">Maria Victoria</p>
                        <hr>
                    </div>
                    <div class="col-12 col-lg-9 col-md-9">
                        <h5 class="title-project">El Mundo Mágico de Studio Ghibli</h5>
                        <p>Studio Ghibli nos transporta a mundos fantásticos llenos de magia, naturaleza y personajes inolvidables. Sus películas suelen estar ambientadas en entornos rurales o urbanos idealizados, donde la naturaleza y la fantasía coexisten en armonía. Algunos elementos comunes en sus universos son:</p>

                        <ul>
                            <li>Naturaleza</li>
                            <p>La naturaleza es un personaje fundamental en las películas de Ghibli. Bosques exuberantes, criaturas mágicas y paisajes oníricos son elementos recurrentes que invitan a la reflexión sobre la importancia de cuidar el medio ambiente</p>
                            <li>Espíritus y criaturas mágicas</li>
                            <p>Totoros, dragones, brujas y otras criaturas fantásticas habitan los mundos de Ghibli, añadiendo un toque de magia y misterio a las historias.</p>
                            <li>Valores universales</li>
                            <p>Amor, amistad, valentía, respeto por la naturaleza y la importancia de los sueños son algunos de los valores que se transmiten en las películas de Ghibli.</p>
                            <li>Estética visual única</li>
                            <p>El estilo de animación de Ghibli es inconfundible, con personajes detallados, fondos pintados a mano y una paleta de colores cálida y acogedora.</p>
                        </ul>
                    </div>
                </div>

                <h2 class="titulo">Mis películas favoritas</h2>
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-3 col-md-3">
                        <p class="label text-center">El Castillo Ambulante</p>
                    </div>
                    <div class="col-12 col-lg-9 col-md-9">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100"
                                aria-valuemin="0" aria-valuemax="100">100%</div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-3 col-md-3">
                        <p class="label text-center">El viaje de Chihiro</p>
                    </div>
                    <div class="col-12 col-lg-9 col-md-9">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100"
                                aria-valuemin="0" aria-valuemax="100">100%</div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-3 col-md-3">
                        <p class="label text-center">La princesa Mononoke</p>
                    </div>
                    <div class="col-12 col-lg-9 col-md-9">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 97%;" aria-valuenow="97"
                                aria-valuemin="0" aria-valuemax="100">97%</div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-3 col-md-3">
                        <p class="label text-center">Arrietty y el mundo de los diminutos</p>
                    </div>
                    <div class="col-12 col-lg-9 col-md-9">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 97%;" aria-valuenow="97"
                                aria-valuemin="0" aria-valuemax="100">97%</div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-3 col-md-3">
                        <p class="label text-center">Nicky, la aprendiz de bruja</p>
                    </div>
                    <div class="col-12 col-lg-9 col-md-9">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 97%;" aria-valuenow="97"
                                aria-valuemin="0" aria-valuemax="100">97%</div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-3 col-md-3">
                        <p class="label text-center">El castillo en el cielo</p>
                    </div>
                    <div class="col-12 col-lg-9 col-md-9">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80"
                                aria-valuemin="0" aria-valuemax="100">80%</div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-3 col-md-3">
                        <p class="label text-center">Mi vecino Totoro</p>
                    </div>
                    <div class="col-12 col-lg-9 col-md-9">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80"
                                aria-valuemin="0" aria-valuemax="100">80%</div>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</main>
<br>

{% endblock content %}